# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.vsc
.vscode

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db
